



.dark-theme{

  --main-heading: #333;
  --main-title-blue: #3498db;
  --main-navbar-black: #fff;
  --main-light-bg: #2c282887;

}

.light-theme{

  --main-heading: #fff;
  --main-title-blue: #3498db;
  --main-navbar-black: #333;
  --main-light-bg: #2c282887;

}


.Gallery-second-div{
    width: 94%;
    height: auto;
    margin: auto;
    /* background-color: rgb(213 211 211); */
    /* background-color: var(--main-heading); */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 1px 1px 9px 1px #4a4a4ade;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.Top-news-title{
    width: 90%;
    margin: auto;
    color: #934747;
    text-shadow: 2px 1px 6px #ab9191;
    font-style: italic;
}

.gallery-main-img{
    position: relative;
}

.gallery-img-title{
    margin-top: -4rem;
    color: white;
    /* background-color: rgba(45, 44, 44, 0.364); */
    background-color: var(--main-light-bg);
    position: absolute;
    height: 4.5rem;
}


  .slider {
    width: 100%;
    position: relative;
    margin: 20px;
  }
  
  
  .images {
    display: flex;
    animation: slide 10s linear infinite;
    -webkit-animation: slide 10s linear infinite;
}
  
  .image {
    width: 100%;
    transition: transform 0.3s;
  }
  
  .slider:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    animation-play-state: paused;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  



       

        /* slider 2 css 👍 */



  .slider2 {
    width: 100%;
    position: relative;
    margin: 20px;
  }
  
  
  .images2 {
    display: flex;
    animation: slide2 10s linear infinite;
    -webkit-animation: slide2 10s linear infinite;
}
  
  .image {
    width: 100%;
    transition: transform 0.3s;
  }
  
  .slider2:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    animation-play-state: paused;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
  @keyframes slide2 {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
  }
  

